{% extends 'doctors/doctor_home.html' %}

{% load static %}

{% block title %}
Appointments
{% endblock %}

{% block content %}

<!-- <h1>Appointments for Dr. {{ doctor.name }}</h1> -->

<h3>My Appoinments</h3>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1.1em;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: black; 
        color: white; 
        text-transform: uppercase; 
    }

    tr:nth-child(even) {
        background-color: #f2f2f2; 
    }

    tr:hover {
        background-color: #ddd; 
    }

    .no-appointments {
        text-align: center;
        padding: 20px;
        font-size: 1.2em;
        color: #888; 
    }
    a{
        text-decoration: none;
        color: black;
    }
</style>

<table>
    <tr>
        <th>Patient Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Booking Date</th>
        <th>Booked On</th>
        <th>Status</th>
    </tr>
    <tbody>
        {% for booking in bookings %}
        <tr {% if booking.booking_date == today %} style="font-weight: bold;" {% endif %}>
            <td><a href="{% url 'consultation' id=booking.id %}">{{ booking.p_name }}</a></td>
            <td>{{ booking.p_phone }}</td>
            <td>{{ booking.p_email }}</td>
            <td>{{ booking.booking_date }}</td>
            <td>{{ booking.booked_on }}</td>
            <td>
                <form action="{% url 'approve_app' id=booking.id %}" method="post">
                    {% csrf_token %}
                {% if booking.status == 'pending' %}
                <button type="submit" name="status" value="Approve" class="btn btn-success">Approve</button>
                <button type="submit" name="status" value="Reject" class="btn btn-danger">Reject</button>
                {% elif booking.status == 'Approve' %}
                <button type="submit" name="status" value="Reject" class="btn btn-danger">Reject</button>
                {% elif booking.status == 'Reject' %}
                <p>{{ booking.status }}</p>
                {% endif %}
            </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="no-appointments">No appointments available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
