{% extends 'doctors/doctor_home.html' %}
{% load static %}
{% block title %}
My Patients
{% endblock %}


{% block content %}


<style>
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: grey;
        text-decoration: none;
    }
</style>



<div class="container " style="margin-top: 8rem ;">
    <h2 class="text-center mb-4">Patients List</h2>   
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Patient Name</th>
                <th>Phone Number</th>
                <th>Doctor</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in consultation %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.doctor.username }}</td>
                <td>
                    <button type="submit" class="btn btn-dark"><a href="{% url 'patient_history' id=i.id %}">View</a></button>
                </td>
                <td>
                    <button class="btn btn-success">{{ i.status }}</button>
                    <p>{{i.fees}}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
