{% extends 'doctors/doctor_home.html' %}

{% block title %}
Patient History
{% endblock %}


{% block content %}
{% load static %}

<h1 class="text-center">History</h1>
<hr>


<table class="table table-bordered table-hover">
    <tr>
        <th>Patient's Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>State</th>
        <th>Condition</th>
        <th>Medicine</th>
        <th>Created At</th>
    </tr>
   
    <tr>
        <td>{{ details.name }}</td>
        <td>{{ details.age }}</td>
        <td>{{ details.height }}</td>
        <td>{{ details.weight }}</td>
        <td>{{ details.state }}</td>
        <td>{{ details.condition }}</td>
        <td>{{ details.medicine }}</td>
        <td>{{ details.created_at }}</td>
    </tr>
   
</table>


{% endblock %}
