{% extends 'doctors/doctor_home.html' %}

{% block title %}
Patient History
{% endblock %}


{% block content %}
{% load static %}


<div class="container " style="margin-top: 8rem ;">
    <h2 class="text-center mb-4">Details</h2>

    <table class="table table-bordered table-hover" >
    <tr>
        <th>Patient's Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>State</th>
        <th>Condition</th>
        <th>Medicine</th>
        <th>Created At</th>
    </tr>

    <tr>
        <td>{{ details.name }}</td>
        <td>{{ details.age }}</td>
        <td>{{ details.height }}</td>
        <td>{{ details.weight }}</td>
        <td>{{ details.state }}</td>
        <td>{{ details.condition }}</td>
        <td>{{ details.medicine }}</td>
        <td>{{ details.created_at }}</td>
    </tr>

    </table>
</div>


{% endblock %}
