{% extends 'doctors/doctor_home.html' %}

{% load static %}

{% block title %}
Remuneration Report
{% endblock %}



{% block content %}

<div class="container" style="margin-top: 8rem ;">
    <h3 class="text-center mb-4">Detailed Remuneration Report</h3>
    
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Payment Breakdown</h5>
        </div>
        <div class="card-body">
            <p><strong>Total Fees:</strong> ₹{{ consultation.fees }}</p>
            <p><strong>Admin's Commission (25%):</strong> ₹{{ consultation.commission }}</p>
            <p><strong>Doctor's Share (75%):</strong> ₹{{ consultation.amount }}</p>
            <p><strong>Payment Status:</strong>{{ consultation.status }} </p>               
        </div>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Payment History</h5>
        </div>
        <div class="card-body">
            <p><strong>Payment Date:</strong> {{ payment_history.payment_date }}</p>
            <p><strong>Payment Method:</strong>{{ payment_history.payment_method }}</p>
            <p><strong>Transaction ID:</strong>{{ payment_history.transaction_id }}</p>
            <p><strong>Amount Paid:</strong> ₹{{ payment_history.amount_paid }}</p>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Total Summary</h5>
        </div>
        <div class="card-body">
            <p><strong>Total Commission:</strong> ₹{{ total_summary.total_commission }}</p>
            <p><strong>Total Doctor's Earnings:</strong> ₹{{ total_summary.total_doctor_earnings }}</p>
            <p><strong>Total Payments Received:</strong> ₹{{ total_summary.total_payments_received }}</p>
        </div>
    </div>
</div>


{% endblock %}