{% extends 'users/base.html' %}

{% block title %}
Booking
{% endblock %}

{% block content %}


<style>
    
    
</style>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h1 class="text-center mt-5">Make an Appointment</h1>
<hr>

<form method="POST" action="{% url 'booking' %}">
    {% csrf_token %}
    <label for="">Patient Name : </label>
    <input type="text" name="name" required>
    <label for="">Phone Number : </label>
    <input type="text" name="phone" required>
    <label for="">Email </label>
    <input type="email" name="email" required>
    <label for="Booking Date"></label>
    <input type="date" name="bookingdate" required>
    <label for="">Doctor</label>
    <select name="dname">
        <option value="">--------------</option>
        {% for i in doctors %}
        <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-dark">Submit</button>
    


</form>

{% endblock %}
