{% extends 'users/base.html' %}

{% block title %}
Doctor View
{% endblock %}

{% block content %}
{% load static %}

<style>
    p {
        font-size: 20px;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4 text-dark"><b>{{ department }}</b></h1>
    <hr>
    <p class="text-center mb-4">{{ department.dep_description }}</p>
    <div class="row">
        {% for doctor in doctors %}
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm">
                <img 
                    src="" class="card-img-top" alt="" style="height: 200px; object-fit: cover;">

                <div class="card-body text-center bg-body-secondary">
                    <h5 class="card-title"><b>Dr. {{ doctor.name }}</b></h5>
                    <p class="card-text">{{ doctor.department }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>No doctors available.</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
