 {% extends 'users/base.html' %}

{% block title %}

{% endblock %}


{% block content %}
{% load static %} 



<style>
  
</style>
<h1 class="text-center">WE ASSURE QUALITY CARE</h1>
<hr>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="hospital_project\static\image4.png" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="hospital_project\static\iamge5.png" class="d-block w-100" alt="">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div>
  <div class="card-group">
    <div class="card">
      <img src="{% static 'images\iamge6.png'%}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'outreach' %}" style="text-decoration: none;">SOCIAL OUTREACH</h5></a>
      
      </div>
    </div>
    <div class="card">
      <img src="{% static 'images\iamge7.png'%}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'health_insurance' %}" style="text-decoration: none;">HEALTH INSURANCE</h5></a>
      
      </div>
    </div>
    <div class="card">
      <img src="{% static 'images\iamge9.png'%}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'health_checkup' %}" style="text-decoration: none;">HEALTH CHECKUP</h5></a>
      </div>
    </div>
  </div>
</div>


<h1 class="text-center">OUR DEPARTMENTS</h1><br>



{% for d in department %}
<div class="card mb-3 mx-auto w-30" style="width: 18rem; float: left;">
  <div class="card-body">
    <h4>
      <a href="{% url 'department_doctors' department_id=d.id %}">{{ d.dep_name }}</a>
    </h4>
  </div>
</div>
{% endfor %}

{% endblock %}

