{% extends 'users/base.html' %}

{% block title %}
Kidney Care
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">Kidney Care</h1>
    <hr class="my-4">

    <h3 class="text-success">General Information</h3>
    
    <h5 class="text-info">Facilities:</h5>
    <ol class="list-group">
        <li class="list-group-item">Clinical Nephrology</li>
        <li class="list-group-item">Critical Care Nephrology including ICU, RRT, SLED, CRRT</li>
        <li class="list-group-item">Hemodialysis</li>
        <li class="list-group-item">Glomerulonephritis clinics</li>
        <li class="list-group-item">Renal Transplantation including ABO incompatible transplantation services</li>
    </ol>
</div>
{% endblock %}
