{% extends 'admin/base_admin.html' %}

{% load static %}

{% block title %}
Admin Home
{% endblock %}

{% block content %}

<style>
  .custom-navbar {
    background-color: white; 
    height: 60px;
    box-shadow: 0 4px 6px rgba(18, 15, 15, 0.1);
  }

  body {
    background-image: url("{% static 'images/image12.png' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }

  .content-section {
    padding: 50px 0;
  }

  .card-custom {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
  }

  .footer-custom {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .footer-custom a {
    color: white;
    margin-right: 15px;
  }
</style>



<div class="container content-section">
  <div class="row g-4">
    <div class="col-lg-4 col-md-6">
      <div class="card card-custom bg-danger text-white">
        <h3>Doctors</h3>
        <p>Manage doctor profiles and schedules</p>
        <a href="{% url 'doctors_list'%}" class="btn btn-light">Go to Doctors</a>
        <!-- <a href="{% url 'doctors_list'%}" class="btn btn-secondary">Register Now</a> -->
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-custom bg-success text-white">
        <h3>Patients</h3>
        <p>View and manage patient records</p>
        <a href="{% url 'patients_list' %}" class="btn btn-light">Go to Patients</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-custom bg-primary text-white">
        <h3>Appointments</h3>
        <p>Check and schedule appointments</p>
        <a href="{% url 'total_appoinments' %}" class="btn btn-light">Go to Appointments</a>
      </div>
    </div>
  </div>
</div>




{% endblock %}